<!doctype html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallary</title>
   

    {% load static %}
    <link rel="icon" href="{% static 'assets/gallary.png' %}">
    
    <style>
       h1{text-align: center;
            background-color: #006b1b;
            color: white;
            line-height: 80px;

       }
       img{

           width: 280px;
           height: 250px;
       }





    </style>


</head>
<body>
<a href="{% url 'about' %}">about</a>
<a href="{% url 'index' %}">index</a>
<a href="{% url 'form' %}">form</a>

<h1>My Gallary</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur et eveniet facere hic illo, inventore ipsum, labore natus obcaecati omnis perspiciatis quidem ratione rerum sapiente sequi totam ut voluptates?</span><span>Architecto eaque explicabo quaerat voluptatum? Alias consequuntur dicta dolor, dolores dolorum eaque earum eius enim expedita fugit ipsam nostrum possimus quas quasi reiciendis rem sapiente soluta unde vel vitae. Aliquid?</span><span>Aspernatur beatae delectus deserunt, eligendi enim esse eveniet minus necessitatibus recusandae. Ad atque, dicta est fugit neque nobis numquam odio? Blanditiis consequuntur culpa dicta excepturi fugit reiciendis, saepe. Consequuntur, in.</span></p>
<img src="{% static 'assets/img.png' %}" alt="">
<img src="{% static 'assets/img_1.png' %}" alt="">
<img src="{% static 'assets/img_2.png' %}" alt="">
<img src="{% static 'assets/rt.jpg' %}" alt="">
<img src="{% static 'assets/car4.jpeg' %}" alt="">
<img src="{% static 'assets/ai.jpg' %}" alt="">
<img src="{% static 'assets/car1.jpeg' %}" alt="">


</body>
</html>