<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home page</title>
    <style>
        h1{
            text-align: center;
            background-color: #006b1b;
            color: white;
            line-height: 80px;
        }
        h1:hover{
            background-color: #570808;
        }
    </style>
</head>
<body>
<h1>QuickDAsh app</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto aspernatur autem cumque doloribus esse expedita, incidunt minima modi mollitia, nam natus neque nobis placeat possimus praesentium provident, suscipit temporibus.</span><span>Ab commodi, consectetur deleniti deserunt dignissimos eaque esse eum, excepturi in iure libero, maxime nihil officia pariatur sit tempore vel? Cum dolores, eos eveniet laborum neque optio voluptas. Asperiores, quos?</span></p>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ab aspernatur debitis dolore eum iusto maiores minus nisi nostrum, pariatur quia quibusdam quos recusandae repellat sint suscipit tempora ut vel?</span><span>Ab atque cum dicta dolorum enim exercitationem magnam molestiae natus necessitatibus nesciunt numquam quaerat quasi, sequi sit vel vero voluptas voluptatem? Accusamus, distinctio et inventore numquam officiis quaerat quas reiciendis.</span><span>Facere facilis quidem quos similique sit. Aliquid animi aperiam asperiores, consequatur, culpa cum, deserunt dolor dolorum eaque et exercitationem explicabo iure libero officiis quae quisquam ratione rem saepe sint vitae?</span></p>


</body>
</html>